# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ENV
.env

# Node
node_modules/

.history/

# Build
dist/
build/

# Laravel
vendor/
storage/logs/
bootstrap/cache/

# Hardhat
artifacts/
cache/

# OS
.DS_Store
Thumbs.db
